<style>
    .fb{
        text-align: center;
        padding-top: 20px;
    }
    h4 {
        margin-bottom: 0px;
        padding-bottom: 5px;
    }
</style>
<div class="fb">
    {{#fbInfo}}
    <img src="{{fbPhoto}}" alt="personal photo">
    <h4>Hello!! {{fbName}}</h4>
    {{/fbInfo}}
</div>
