<h1>add abbreviation to lines</h1>
<form class="txt" action="/addAbbre" method="post">
    <div>
        <input class="sub" type="submit" value="Add Abbreviation">
    </div>
</form>

<form class="txt" action="/addLowerCase" method="post">
    <div>
        <input class="sub" type="submit" value="Add lowercase">
    </div>
</form>