<h1>create line table</h1>
<form class="txt" action="/createline" method="post">
    <div>
        <input type="text" name="chinese" placeholder="chinese">
    </div>
    <div>
        <input type="text" name="english" placeholder="english">
    </div>
    <div>
        <input class="sub" type="submit" value="Submit">
    </div>
</form>
