<h1>create station table</h1>
<form class="txt" action="/createstation" method="post">
    <div>
        <input type="text" name="english" placeholder="english">
    </div>
    <div>
        <input class="sub" type="submit" value="Submit">
    </div>
</form>
