<div class="lines">
    <button id="KTL" type="button">觀塘綫</button>
    <button id="TWL" type="button">荃灣綫</button>
    <button id="IL" type="button">港島綫</button>
    <button id="SIL" type="button">南港島綫</button>
    <button id="TKOL" type="button">將軍澳綫</button>
    <button id="TCL" type="button">東涌綫</button>
    <button id="AEL" type="button">機場快綫</button>
    <button id="ERL" type="button">東鐵綫</button>
    <button id="MOSL" type="button">馬鞍山綫</button>
    <button id="WRL" type="button">西鐵綫</button>
</div>
<div class="stations">
    <h1>Stations</h1>
    <button type="button">{{station}}</button>
    </div>

<script>
var lineArr = [[1,2,3],[4,5,6]];
$(document).ready(function(){
    $("button").click(function(){
        // delete previous input
        $('#station').empty();
        //get id of selected line
        var id = $(this).attr('id');
        console.log(id);
        // get stations of line according to id

        .forEach(function(station){
            // append stations of line to stations div, with its id(??)
            $('#station').append("<button id=\"" + station.id + "\">" + station + "</button>")
        })
    })
})

</script>
