<h1>Well Done</h1>

<form class="txt" action="/auth/facebook" method="get">
    <div>
        <input class="sub" type="submit" value="Submit">
    </div>
</form>
{{!--Add Button to post new data in lines table--}}
