<style>
    .returnbtn {
        text-align: center;
    }
</style>

<div class="returnbtn">
    <a href="/home/:language"><button type="button" name="button">Return</button></a>
</div>

<div>
    {{#showFavorList}}
    <h1>remark:{{remark}}</h1>
    <h1>station:{{stationName}}</h1>
    {{/showFavorList}}
</div>
