<style>
body {
  margin: 0px;
  padding: 0px;
}
.container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)),black no-repeat;
}
.showlogin {
    text-align: center;
    border: solid 2px black;
    padding: 10px 0px 30px 0px;
    background: white;
    margin: 10px;
}
.showbtn {
    padding: 0px;
    opacity: 0.3;
    margin-bottom: 10px;
}
.line {
    padding: 0px;
    margin: 0px 0px 10px 0px;
}
</style>

<div class="container">
    <h1> MTR Lines </h1>
    <div class="showlogin">
        <h2>login to facebook and add a favorite station</h2>
        <a href="/auth/facebook"><img src="https://i.stack.imgur.com/LKMP7.png"/></a>
    </div>
    <div class="col-sm-12 showbtn">
        {{#show}}
        <button id='line{{id}}' class="col-xs-6 line" type="button" name="button">{{chinese}}</button>
        {{/show}}
    </div>
</div>
