<style>
    .txt {
        margin-top: 50px;
    }
    button {
        margin: 2px;
    }
</style>
<div>
    {{#show}}
    <button class = "{{id}}" type="button" name="button">{{id}} {{chinese}}</button>

    {{/show}}
</div>

<h1>create line_station table</h1>

<form class="txt" action="/getRelation" method="post">
    <div>
        <input class="sub" type="submit" value="Submit">
    </div>
</form>
