body {
    margin: 0px;
    padding: 0px;
}

#engbtn, #chibtn {
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #242324;
  padding: 0px;
  border: solid #000000 2px;
  text-decoration: none;
  height:40px;
  width:40px;
  margin: 2px;
  float:right;
}

#engbtn:hover, #chibtn:hover {
  background: #49494a;
  text-decoration: none;
}

.line, .station, #stationName {
    border-radius: 17px;
    font-family: Arial;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    height: 50px;
    margin: 5px;
}

.line:hover, .station:hover {
    text-decoration: none;
}

#line1, .lineStation1, .addFavorbtn1 {
    background: linear-gradient(to bottom, #119931, #0b820d);
    border: solid #38c26f 4px;
}

#line1:hover, .lineStation1:hover {
    background: #35c211;
}

#line2, .lineStation2, .addFavorbtn1 {
  background: linear-gradient(to bottom, #ff0000, #b82b2b);
  border: solid #f07878 4px;
}

#line2:hover, .lineStation2:hover {
  background: #ff3030;
}

#line3, .lineStation3 {
  background: linear-gradient(to bottom, #0076c4, #015b96);
  border: solid #87c3e6 4px;
}

#line3:hover, .lineStation3:hover {
  background: #9acfee;
}

#line4, .lineStation4 {
  background: linear-gradient(to bottom, #65cc56, #2ac216);
  border: solid #63de72 4px;
}

#line4:hover, .lineStation4:hover {
  background: #59eb6f;
}

#line5, .lineStation5 {
  background: linear-gradient(to bottom, #b51aab, #962d98);
  border: solid #c558db 4px;
}

#line5:hover, .lineStation5:hover {
  background: #d11bc5;
}

#line6, .lineStation6 {
  background: linear-gradient(to bottom, #e69200, #b17000);
  border: solid #ffb575 4px;
}

#line6:hover, .lineStation6:hover {
  background: #e8b73a;
}

#line7, .lineStation7 {
  background: linear-gradient(to bottom, #008277, #025951);
  border: solid #069e8a 4px;
}

#line7:hover, .lineStation7:hover {
  background: #00ad7c;
}

#line8, .lineStation8 {
  background: linear-gradient(to bottom, #52e4fa, #22bfbe);
  border: solid #9ef0ff 4px;
}

#line8:hover, .lineStation8:hover {
  background: #66edff;
}

#line9, .lineStation9 {
  background: linear-gradient(to bottom, #b35c00, #9d4e00);
  border: solid #c98754 4px;
}

#line9:hover, .lineStation9:hover {
  background: #d98d1c;
}

#line10, .lineStation10 {
  background: linear-gradient(to bottom, #730065, #5b004c);
  border: solid #91367b 4px;
}

#line10:hover, .lineStation10:hover {
  background: #7f0070;
}

.showFavor {
    text-align: center;
}

.favorbtn,.returnbtn {
    background: black;
    color: white;
    border-radius: 10px;
    font-family: Arial;
    border: solid gray 1px;
    margin-bottom: 5px;
}

.favorbtn:hover, .returnbtn:hover {
    background: white;
    color: black;
    font-size: 15px;
}

.remark {
    font-size: 20px;
    margin-bottom: 10px;
}

.sub {
    background: black;
    color: white;
    border-radius: 17px;
    font-family: Arial;
    border: solid gray 1px;
    font-size: 16px;
    height: 50px;
    margin: 5px;
}

.sub:hover {
    background: white;
    color: black;
    font-size: 20px;
}
